.header {
  position: relative;
  //margin-bottom: 6rem;
  z-index: 2;
  background: $color-black;
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 40px;
    padding: 2rem 0;
    border-bottom: 1px dashed rgba($color-white, 0.1);
    @media(max-width: #{$break-max-sm}) {
      gap: 0 10px;
    }
    .header-langs {

    }
    .header-menu {
      flex-grow: 1;
    }
    .header-logo {

    }
    .header-buttons {
      @media(max-width: #{$break-max-xxl}) {
        flex-grow: 1;
      }
    }
  }

  &-logo {
    display: inline-flex;
    align-items: center;
  }

  &-langs {
    display: flex;
    align-items: center;
    gap: 10px;
    @media(max-width: #{$break-max-lg}) {
      display: none;
    }
  }

  &-menu {
    @media(max-width: #{$break-max-xxl}) {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0 40px;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          color: $color-white;
        }
      }
    }
  }
  &-app {
    display: none;
    padding: 0 15px;
    @media(max-width: #{$break-max-xxl}) {
      display: inline-flex;
    }
  }
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media(max-width: #{$break-max-xxl}) {
      justify-content: flex-end;
    }
    @media(max-width: #{$break-max-xl}) {
      display: none;
    }
  }
}
