doctype html
html(lang="en")
    //- Include head
    include ../layout/head.pug
    body
        .auth
            .auth-main
                .auth-box
                    .auth-box-main
                        .auth-box-title
                            a(href="#")
                                include ../../../web/images/arrow-prev.svg
                            span Register
                        .auth-box-form
                            .form-group
                                input(type="text" placeholder="Login" class="field-text")
                            .form-group
                                input(type="text" placeholder="Email" class="field-text")
                            .form-group
                                input(type="text" placeholder="Password" class="field-text")
                            .form-group
                                input(type="text" placeholder="Repeat password" class="field-text")
                        .auth-box-btns
                            button.btn.btn-gradient Register
