footer.footer
    .container
        .footer-main
            .footer-main-col.footer-main-menus
                .footer-menu
                    .footer-menu-title Company
                    ul
                        li
                            a(href="#") Order
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Сontacts
                .footer-menu
                    .footer-menu-title Policy
                    ul
                        li
                            a(href="#") Order
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Сontacts
            .footer-main-col
                .footer-perms
                    .footer-perm Terms And Conditions | Privacy Policy
                    .footer-perm All rights reserved
            .footer-main-col
                .footer-info
                    .footer-info-col
                        .footer-desc Safe and secure online platform that matches students in need of academic assistance with subject-matter experts
                        .footer-payment
                            include ../../../web/images/visa.svg
                            include ../../../web/images/mastercard.svg
                    .footer-info-col
    .footer-foot
        .footer-bg
            img(src="images/screen/bg.jpg")
