header.header.header--auth
    .container
        .header-main
            a(href="/").header-logo
                include ../../../web/images/logo.svg
            .header-langs
                .lang
                    .lang-box.js-lang-box
                        .lang-box-left.btn.btn-three
                            span EN
                            include ../../../web/images/arrow.svg
                        ul
                            li
                                a(href="#") EN
                            li
                                a(href="#") DE
                            li
                                a(href="#") PT
                .lang
                    .lang-box.js-lang-box
                        .lang-box-left.btn.btn-three
                            span EUR
                            include ../../../web/images/arrow.svg
                        ul
                            li
                                a(href="#") EUR
                            li
                                a(href="#") USD
