.mobile.js-mobile
    .mobile-main
        button.btn.mobile-close.js-mobile-close
            include ../../icons/close.svg
        ul.mobile-menu
            li
                a(href="#") About
            li
                a(href="#") Advantages
            li
                a(href="#") Сlient
            li
                a(href="#") Order
            li
                a(href="#") FAQ
            li
                a(href="#") Сontacts
